/* Importation des polices d'écriture */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai&display=swap');

/* Création de la grille sur le body et police d'écriture générale */
body {
    grid-template-columns: 25vw 45vw;
    grid-template-rows: 1fr 5fr;
    display: grid;
    justify-content: center;
    column-gap: 10vh;
    font-family: 'Hind Madurai', sans-serif;
}

/* Le header prend toute la largeur de la grid */
header {
    grid-column-start: 1;
    grid-column-end: 3;
}

/* Colonne de gauche en grid et éléments dedans affichés en colonne */
aside {
    grid-row-start: 2;
    grid-row-end: 3;
    flex-wrap: wrap;
    flex-direction: column;
}

/* Partie principale du CV et disposition des éléments dedans en colonne */
main {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    flex-wrap: wrap;
    flex-direction: column;
}

/* Stylisation du titre */
header .name {
    color: #2B2D42;
    font-family: 'Bebas Neue', cursive;
    font-size: 4.5em;
    letter-spacing: 10px;
    margin-top: auto;
    margin-bottom: auto;
}

/* Stylisation du sous-titre avec dégradé */
header .title {
    width: calc(100% - 20px);
    background-image: radial-gradient(circle, #d90429, #df0f2e, #e41732, #ea1d37, #ef233c);
    color: #ffffff;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    font-size: 1.25em;
    padding: 10px 0 10px 20px;
    text-transform: uppercase;
    letter-spacing: 5px;
}

/* Placement des éléments, barre à gauche et animation en sortie de click */
main article, aside article {
    padding: 10px 0 10px 10px;
    border-left: solid 5px #e8e8e8;
    overflow: scroll;
    margin-bottom: 2%;
    transition: transform .4s;
}

/* Animation quand on passe la souris sur chaque élément */
main article:hover, aside article:hover{
    transform: scale(1.02);
}

/* Stylisation des h1 */
h1 {
    font-family: 'Bebas Neue', cursive;
    color: #2B2D42;
    font-size: 2em;
    margin: auto;
}

/* Stylisation des h2 */
h2 {
    font-family: 'Nunito', sans-serif;
    color: #D90429;
    font-size: 1.3em;
    font-weight: 600;
    letter-spacing: -1px;
}

/* Taille de la photo de profil par rapport au conteneur */
aside div img {
    width:75%;
    height: 75%;
}

/* On retire les puces des listes à puce */
li {
    list-style-type: none;
}

/* Stylisation des liens */
a {
    background-color: #ef233c;
    color: white;
    text-decoration: none;
}

/* Animation quand on passe la souris sur un lien */
a:hover {
    background-color: #d90429;
    transition: 0.2s;
}