/* Importation des polices d'écriture */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai&display=swap');
/*
body {
    font-family: 'Hind Madurai', sans-serif;
    background-color: #EDF2F4;
}

::selection {
    background-color: #EF233C;
    color: white;
}

.columns {
    flex-wrap: wrap;
    flex-direction: column;
}

.left-column{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: calc(30% - 10px);
    gap: 1em;
    float: left;
}

.right-column{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: calc(60% - 10px);
    float: right;
}

.left-item, .right-item{
    width: 100%;
    height: 100%;
    padding: 10px 0 10px 10px;
    border-left: solid 5px #8D99AE;
    overflow: scroll;
}

.name {
    color: #2B2D42;
    font-family: 'Bebas Neue', cursive;
    font-size: 4.5em;
    letter-spacing: 10px;
}

.title {
    width: calc(100% - 20px);
    background-image: radial-gradient(circle, #d90429, #df0f2e, #e41732, #ea1d37, #ef233c);
    color: #ffffff;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    font-size: 1.25em;
    padding: 10px 0 10px 20px;
    text-transform: uppercase;
    letter-spacing: 5px;
}

p {
    margin: 0 0 0 0;
}

h1 {
    font-family: 'Bebas Neue', cursive;
    margin-top: -5px;
    color: #2B2D42;
    font-size: 2em;
}

h2 {
    font-family: 'Nunito', sans-serif;
    margin-bottom: -3px;
    color: #D90429;
    font-size: 1.3em;
    font-weight: 600;
}

.left-item p, .right-item p, .left-item ul{
    text-align: justify;
}

.interets {
    list-style-type:square;
}

.contact {
    list-style-type: none;
}


.left-item ul a{
    text-decoration: none;
    color: white;
    background-color: #EF233C;
}

.flexbox-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    overflow:scroll;
}

.profil {
    width: 60%;
}

.skills {
    columns: 3;
    gap: 50px;
}

#picture-container{
    border-left: 0;
} 
*/



section {
    grid-template-columns: 30vw 50vw;
    grid-template-rows: 1fr 10fr;
    display: grid;
    justify-content: center;
    column-gap: 10vh;
}

header {
    grid-column-start: 1;
    grid-column-end: 3;
}

aside {
    grid-row-start: 2;
    grid-row-end: 3;
    flex-wrap: wrap;
    flex-direction: column;
}

main {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    flex-wrap: wrap;
    flex-direction: column;
}

header .name {
    color: #2B2D42;
    font-family: 'Bebas Neue', cursive;
    font-size: 4.5em;
    letter-spacing: 10px;
}

header .title {
    width: calc(100% - 20px);
    background-image: radial-gradient(circle, #d90429, #df0f2e, #e41732, #ea1d37, #ef233c);
    color: #ffffff;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    font-size: 1.25em;
    padding: 10px 0 10px 20px;
    text-transform: uppercase;
    letter-spacing: 5px;
}

aside article {

}

main article {

}

main article, aside article {

}

h1 {
    font-family: 'Bebas Neue', cursive;
    color: #2B2D42;
    font-size: 2em;
}

h2 {
    font-family: 'Nunito', sans-serif;
    color: #D90429;
    font-size: 1.3em;
    font-weight: 600;
}